{
  "openapi": "3.0.3",
  "info": {
    "title": "Sigil Open Framework — Reference Implementation",
    "version": "1.0.0",
    "description": "The Sigil Sign reference implementation exposes the SOF conformance surface plus the operational endpoints used by Sigil Open Framework clients. Every request that mutates state requires a Sigil API key presented as `Authorization: Bearer sk_sigil_...`. Production keys are rejected with `SIGIL_API_KEY_WRONG_ENV` on the test environment, and vice versa.",
    "contact": {
      "name": "Sigil",
      "url": "https://sigilcore.com"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "servers": [
    {
      "url": "https://sign.sigilcore.com",
      "description": "Production reference implementation"
    },
    {
      "url": "https://sign-test.sigilcore.com",
      "description": "Test environment (non-production mirror, isolated billing and metering)"
    }
  ],
  "tags": [
    {
      "name": "Authorization",
      "description": "Core intent authorization and policy evaluation"
    },
    {
      "name": "Warranty",
      "description": "Policy deployment and management"
    },
    {
      "name": "Holds",
      "description": "Consensus hold inspection"
    },
    {
      "name": "Webhooks",
      "description": "Webhook registration and lifecycle"
    },
    {
      "name": "Keys",
      "description": "API key registration"
    },
    {
      "name": "RPC",
      "description": "JSON-RPC and bundler gateways"
    },
    {
      "name": "Conformance",
      "description": "Public conformance surface (JWKS, healthz, SOF conformance descriptor)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "Conformance"
        ],
        "summary": "Liveness probe",
        "description": "Returns 200 with `{ \"status\": \"ok\" }` when the service is ready.",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/jwks.json": {
      "get": {
        "tags": [
          "Conformance"
        ],
        "summary": "JWKS for Intent Attestation verification",
        "description": "Public JSON Web Key Set used by clients to verify Ed25519 signatures on Intent Attestations. The endpoint is intentionally unauthenticated per the SOF conformance specification.",
        "security": [],
        "responses": {
          "200": {
            "description": "JWKS document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "kty": {
                            "type": "string",
                            "example": "OKP"
                          },
                          "crv": {
                            "type": "string",
                            "example": "Ed25519"
                          },
                          "kid": {
                            "type": "string"
                          },
                          "x": {
                            "type": "string"
                          },
                          "use": {
                            "type": "string",
                            "example": "sig"
                          },
                          "alg": {
                            "type": "string",
                            "example": "EdDSA"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/sigil-pqc-keys.json": {
      "get": {
        "tags": [
          "Conformance"
        ],
        "summary": "ML-DSA public keys for PQC attestation verification",
        "description": "Public ML-DSA-65 key set used by PQC-aware clients to verify the `pqc.sig` claim embedded in approved Intent Attestation JWTs. The Ed25519 JWKS remains the compatibility verification path.",
        "security": [],
        "responses": {
          "200": {
            "description": "PQC key set document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "kty",
                          "alg",
                          "kid",
                          "use",
                          "publicKey",
                          "publicKeyHash",
                          "ctx",
                          "canonicalization"
                        ],
                        "properties": {
                          "kty": {
                            "type": "string",
                            "example": "ML-DSA"
                          },
                          "alg": {
                            "type": "string",
                            "example": "ML-DSA-65"
                          },
                          "kid": {
                            "type": "string"
                          },
                          "use": {
                            "type": "string",
                            "example": "sig"
                          },
                          "publicKey": {
                            "type": "string",
                            "description": "Base64url-encoded ML-DSA public key"
                          },
                          "publicKeyHash": {
                            "type": "string",
                            "description": "SHA-256 hex digest of the raw public key bytes"
                          },
                          "ctx": {
                            "type": "string",
                            "example": "sigil-pqc-attestation-v1"
                          },
                          "canonicalization": {
                            "type": "string",
                            "example": "json-sorted-v1"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pqc-keys": {
      "get": {
        "tags": [
          "Conformance"
        ],
        "summary": "Hosted ML-DSA public keys for PQC attestation verification",
        "description": "Hosted public ML-DSA-65 key set used by PQC-aware clients to verify the `pqc.sig` claim embedded in approved Intent Attestation JWTs. This route is exposed through the existing `/v1/*` edge proxy while the canonical `.well-known` route remains available inside the application and in origin nginx configuration.",
        "security": [],
        "responses": {
          "200": {
            "description": "PQC key set document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "kty",
                          "alg",
                          "kid",
                          "use",
                          "publicKey",
                          "publicKeyHash",
                          "ctx",
                          "canonicalization"
                        ],
                        "properties": {
                          "kty": {
                            "type": "string",
                            "example": "ML-DSA"
                          },
                          "alg": {
                            "type": "string",
                            "example": "ML-DSA-65"
                          },
                          "kid": {
                            "type": "string"
                          },
                          "use": {
                            "type": "string",
                            "example": "sig"
                          },
                          "publicKey": {
                            "type": "string",
                            "description": "Base64url-encoded ML-DSA public key"
                          },
                          "publicKeyHash": {
                            "type": "string",
                            "description": "SHA-256 hex digest of the raw public key bytes"
                          },
                          "ctx": {
                            "type": "string",
                            "example": "sigil-pqc-attestation-v1"
                          },
                          "canonicalization": {
                            "type": "string",
                            "example": "json-sorted-v1"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/sof-conformance.json": {
      "get": {
        "tags": [
          "Conformance"
        ],
        "summary": "SOF conformance descriptor",
        "description": "Returns the conformance classes, attestation algorithms, and public verification endpoints supported by this signer.",
        "security": [],
        "responses": {
          "200": {
            "description": "Conformance descriptor"
          }
        }
      }
    },
    "/v1/sof-conformance": {
      "get": {
        "tags": [
          "Conformance"
        ],
        "summary": "Hosted SOF conformance descriptor",
        "description": "Returns the conformance classes, attestation algorithms, and public verification endpoints supported by this signer. The hosted descriptor points `pqc_keys_uri` at `/v1/pqc-keys`.",
        "security": [],
        "responses": {
          "200": {
            "description": "Conformance descriptor"
          }
        }
      }
    },
    "/v1/authorize": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Submit an intent for policy authorization",
        "description": "Evaluates an Intent against the deployed warranty.md policy bound to the presenting API key. On approval the response includes a signed Intent Attestation JWT. On denial the response carries a machine-readable error code (e.g. `SIGIL_POLICY_VIOLATION_AMOUNT_EXCEEDED`). Rate-limited to 50 requests per minute per source.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approved or DENIED decision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Policy violation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeResponse"
                }
              }
            }
          },
          "409": {
            "description": "No policy deployed for this API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/authorize/test-run": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Simulate authorization with no side effects",
        "description": "Evaluates the same Intent shape as /v1/authorize against the deployed policy, without issuing an attestation, creating a hold, or firing webhooks. Always returns the strict enforcement-mode decision; if SIGIL_MODE=OBSERVE is active, the response includes `observe_mode_active: true` so callers can distinguish strict from observed outcomes. Test-run rows are excluded from monthly quotas.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulated decision",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/warranty/deploy": {
      "post": {
        "tags": [
          "Warranty"
        ],
        "summary": "Deploy a signed warranty.md policy to an API key",
        "description": "Binds a signed warranty.md to the presenting API key. The body carries the warranty.md content and an operator signature. Future calls to /v1/authorize for this key evaluate against the deployed policy. Rate-limited to 20 deploys per minute per source.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "warranty",
                  "signature"
                ],
                "properties": {
                  "warranty": {
                    "type": "string",
                    "description": "Full warranty.md text"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Ed25519 signature of the operator over warranty content"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy deployed; response includes policyHash bound to the key"
          },
          "400": {
            "description": "Invalid warranty.md or signature"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/holds/{holdId}": {
      "get": {
        "tags": [
          "Holds"
        ],
        "summary": "Fetch the state of a consensus hold",
        "description": "Returns the current state of a hold (PENDING, APPROVED, DENIED, EXPIRED) plus the source intent and policy reference. Holds expire at 24 hours by default. Rate-limited to 30 lookups per minute.",
        "parameters": [
          {
            "name": "holdId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The hold identifier returned when the policy required consensus"
          }
        ],
        "responses": {
          "200": {
            "description": "Hold state"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Hold not found or expired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks registered to the presenting key",
        "responses": {
          "200": {
            "description": "Array of webhook descriptors"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Register a webhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "events"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "secret": {
                    "type": "string",
                    "description": "Shared secret for HMAC signature verification"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registered"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Remove a registered webhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook removed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Webhook not found"
          }
        }
      }
    },
    "/v1/keys/register": {
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Register a new Sigil API key",
        "description": "Public registration endpoint. Subject to a strict rate limit (5 attempts per hour per source). Returns a new sk_sigil_... API key on success.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "organization": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key issued"
          },
          "400": {
            "description": "Invalid registration payload"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/rpc/{chainId}": {
      "post": {
        "tags": [
          "RPC"
        ],
        "summary": "JSON-RPC gateway, scoped to an allowlisted EVM chain",
        "description": "Forwards a JSON-RPC payload to the upstream provider for the specified chain. Only chains on the validator allowlist are accepted (chainId 1 and 8453 as of this spec version). Authenticated.",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "EVM chain id (e.g. 1 for mainnet, 8453 for Base)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Standard JSON-RPC 2.0 request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response"
          },
          "400": {
            "description": "Chain not allowlisted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/bundler/{chainId}": {
      "post": {
        "tags": [
          "RPC"
        ],
        "summary": "ERC-4337 bundler gateway",
        "description": "Forwards ERC-4337 user-operation traffic to the upstream bundler for the specified chain.",
        "parameters": [
          {
            "name": "chainId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bundler response"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "sk_sigil_... API key",
        "description": "Sigil API key presented as `Authorization: Bearer sk_sigil_...`. Production keys (`sk_sigil_live_...`) are rejected on the test environment with `SIGIL_API_KEY_WRONG_ENV`. Test keys (`sk_sigil_test_...`) are rejected on production with the same code."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing, malformed, or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded; retry per the documented window",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "required": [
          "status",
          "error_code",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ERROR",
              "DENIED"
            ]
          },
          "error_code": {
            "type": "string",
            "example": "SIGIL_RATE_LIMIT_EXCEEDED"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AuthorizeRequest": {
        "type": "object",
        "required": [
          "agentId",
          "framework",
          "chainId",
          "txCommit",
          "intent"
        ],
        "additionalProperties": false,
        "properties": {
          "agentId": {
            "type": "string",
            "example": "agent-001"
          },
          "framework": {
            "type": "string",
            "example": "agentkit"
          },
          "chainId": {
            "type": "integer",
            "example": 8453
          },
          "txCommit": {
            "type": "string",
            "pattern": "^[0-9a-f]{64}$",
            "description": "Lowercase SHA-256 hex commitment for the proposed action"
          },
          "intent": {
            "type": "object",
            "required": [
              "action"
            ],
            "additionalProperties": false,
            "description": "The intent the agent proposes to execute. The exact shape depends on intent.action; see sigil-attestations spec.",
            "properties": {
              "action": {
                "type": "string",
                "example": "wallet.transfer"
              },
              "targetAddress": {
                "type": "string",
                "example": "0xdeadbeef"
              },
              "amount": {
                "type": "string",
                "example": "0.05"
              },
              "calldata": {
                "type": "string"
              },
              "command": {
                "type": "string",
                "description": "For bash tool calls"
              },
              "url": {
                "type": "string",
                "description": "For web_fetch tool calls"
              },
              "path": {
                "type": "string",
                "description": "For file_write tool calls"
              },
              "token": {
                "type": "string",
                "description": "ERC-20 symbol or 0x contract address"
              },
              "to": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  }
                ]
              },
              "metadata": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "context": {
            "type": "string"
          },
          "delegation": {
            "$ref": "#/components/schemas/DelegationGrant"
          }
        }
      },
      "DelegationGrant": {
        "type": "object",
        "required": [
          "userId",
          "grantId",
          "scope"
        ],
        "additionalProperties": false,
        "description": "Optional user delegation grant. When present, the signer embeds this object into the approved Intent Attestation JWT.",
        "properties": {
          "userId": {
            "type": "string",
            "maxLength": 256,
            "example": "user_123"
          },
          "grantId": {
            "type": "string",
            "maxLength": 256,
            "example": "grant_abc"
          },
          "scope": {
            "type": "string",
            "maxLength": 4096,
            "description": "OAuth-compatible, space-delimited delegated scope string",
            "example": "google.workspace.email.send google.workspace.calendar.read"
          },
          "issuer": {
            "type": "string",
            "maxLength": 256,
            "example": "https://auth.example.com"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Optional grant expiry. If supplied, it must be in the future."
          }
        }
      },
      "AuthorizeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "APPROVED",
              "DENIED",
              "HOLD"
            ]
          },
          "intent_attestation": {
            "type": "string",
            "nullable": true,
            "description": "Signed Ed25519 JWT carrying the policy decision and embedded ML-DSA-65 pqc signature claim; null on DENIED."
          },
          "policy_hash": {
            "type": "string",
            "nullable": true
          },
          "hold_id": {
            "type": "string",
            "nullable": true,
            "description": "Present when status is HOLD"
          },
          "error_code": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "observe_mode_active": {
            "type": "boolean",
            "nullable": true,
            "description": "Returned on test-run when service is in OBSERVE mode"
          }
        }
      }
    }
  }
}
